.DS_Store
image-aos/CMakeFiles/*
image-aos/*cmake*
image-aos/*Make*
image-aos/*lib*
image-aos/imgaos
image-soa/CMakeFiles/*
image-soa/*cmake*
image-soa/*Make*
image-soa/*lib*
image-soa/imgsoa
.vscode
test/in/*
test/out/*